html {
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    // scrollbar-color: $transparent-white-color transparent;
}

body {
    // position: relative;
    background-color: $bcg-color;
    font-family: "Source Sans 3", sans-serif;
    color: $white-color;
    // font-family: "Paytone One", sans-serif;
}