.hero {
    padding: 8px 0px;

    .container {}

    &__items {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin: 0px 16px;
    }

    &__item {
        border-radius: 20px;
        transition: transform 0.3s ease,
        box-shadow 0.3s ease;

        &:hover {
            transform: translateY(-2px);
            /* Тінь знизу для ефекту підняття */
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
        }
    }

    &__link {
        padding: 20px 0px;
        border-radius: 20px;
        text-align: center;
        display: block;
        width: 100%;
        background-color: $white-link-color;
        color: $link-color;
        font-weight: 550;
        font-size: 20px;
        line-height: 19px;
        letter-spacing: .02px;
        transition: 0.3s ease;

        &:hover {
            background-color: $black-color;
            opacity: 0.7;
        }
    }
}